target
*~
*.[ao]
*.class
*.so
*.h[ci]
TAGS
tags
/.~lock*
*.aux
*.bbl
*.blg
*.dvi
*.log
*.nav
*.out
*.snf
*.snm
*.toc
*.vrb
.classpath
.project
.stack-work
stack.yaml
.cabal-sandbox
cabal.sandbox.config
dist
