[package]
name = "sat-bench"
version = "0.8.5"
authors = ["Narazaki Shuji <shujinarazaki@protonmail.com>"]
edition = "2018"

[dependencies]
chrono ="^0.4"
crossbeam = "0.7"
lazy_static = "^1.4"
regex = "^1.3"
reqwest = { version = "0.10", features = ["blocking", "json"] }
serde_json = "1.0"
structopt = "^0.3"
